SEED: "20210617"
NUM_GPUS: 4
NUM_WORKERS: 6
LOG_NAME: 'config.txt'
OUTPUT_DIR: '/nobackup/le/LoCoNet/landmark'
evalDataType: "val"
# evalDataType: "test_reverse"
downloadAVA: False
evaluation: False
RESUME: False
RESUME_PATH: ""
RESUME_EPOCH: 0
use_consistency: True
use_full_landmark: False
consistency_method: "kl"
consistency_lambda: 0
use_landmark: True
use_talknce: True
only_landmark: False
shift_factor: 0
use_talkies: False
talknce_lambda: 0

DATA:
    dataPathAVA: '/nobackup/le/LoCoNet/AVA_Dataset'

DATALOADER:
    nDataLoaderThread: 4
    

SOLVER:
    OPTIMIZER: "adam"
    BASE_LR: 5e-5
    SCHEDULER:
        NAME: "multistep"
        GAMMA: 0.95

MODEL:
    NUM_SPEAKERS: 3
    CLIP_LENGTH: 200
    AV: "speaker_temporal"
    AV_layers: 3
    ADJUST_ATTENTION: 0

n_channel: 1
layer: 1

TRAIN:
    BATCH_SIZE: 1
    MAX_EPOCH: 25
    AUDIO_AUG: 1 
    TEST_INTERVAL: 1
    TRAINER_GPU: 4


VAL:
    BATCH_SIZE: 1

TEST:
    BATCH_SIZE: 1
    DATASET: 'seen'
    MODEL: 'unseen'

    

